.image {
  width: 100%;
  object-fit: cover;
}
.radio {
  /*display: none;*/
}
.images {
  overflow: hidden;

  top: 0;

  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.images-inner {
  width: 400%;

  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
.st-slider .image-slide {
  width: 25%;

  float: left;
}
.st-slider .image-slide,
.fake-radio,
.st-slider .radio-btn {
  transition: all 0.5s ease-out;
}
.fake-radio {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.fake-radio .radio-btn:first-child:after {
  content: 'UP 50%';
}
.fake-radio .radio-btn:nth-child(2):after {
  content: 'Budget';
}
.fake-radio .radio-btn:nth-child(3):after {
  content: 'Trade-In';
}
.fake-radio .radio-btn:last-child:after {
  content: '30LAPTOP';
}

@media screen and (max-width: 768px) {
  .fake-radio .radio-btn:first-child:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.6em' height='1.6em' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M16.5 19a2.5 2.5 0 1 0 0-5a2.5 2.5 0 0 0 0 5M10 5l2-2m-4.5 7a2.5 2.5 0 1 0 0-5a2.5 2.5 0 0 0 0 5m.5 6l8-8M5.5 21a2.5 2.5 0 1 0 0-5a2.5 2.5 0 0 0 0 5m13-13a2.5 2.5 0 1 0 0-5a2.5 2.5 0 0 0 0 5M12 21l2-2'/%3E%3C/svg%3E");
  }
  .fake-radio .radio-btn:nth-child(2):after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.6em' height='1.6em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M8.732 5.771L5.67 9.914c-1.285 1.739-1.928 2.608-1.574 3.291l.018.034c.375.673 1.485.673 3.704.673c1.233 0 1.85 0 2.236.363l.02.02l3.872-4.57l-.02-.02c-.379-.371-.379-.963-.379-2.148v-.31c0-3.285 0-4.927-.923-5.21c-.923-.283-1.913 1.056-3.892 3.734' clip-rule='evenodd'/%3E%3Cpath fill='%23000' d='M10.453 16.443v.31c0 3.284 0 4.927.923 5.21c.923.283 1.913-1.056 3.893-3.734l3.062-4.143c1.284-1.739 1.927-2.608 1.573-3.291a1.353 1.353 0 0 0-.018-.034c-.375-.673-1.485-.673-3.704-.673c-1.233 0-1.85 0-2.236-.363l-3.872 4.57c.379.371.379.963.379 2.148' opacity='0.5'/%3E%3C/svg%3E");
  }
  .fake-radio .radio-btn:nth-child(3):after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.6em' height='1.6em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M16 2H8a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2m-3 19h-2v-1h2zm3-2H8V5h8z'/%3E%3C/svg%3E");
  }
  .fake-radio .radio-btn:last-child:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.6em' height='1.6em' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M73 25v238h366V25H283v16h140v192H89V41h140V25zm174 0v16h18V25zM107 59v156h298V59zM71.03 281l-43.5 174H484.5L441 281h-29.9l20 96h-99.6l16 64H163.8l20-64H80.93l19.97-96zm48.27 0l-2.9 14H147l2.3-14zm48.4 0l-2.3 14h30.7l1.7-14zm48.2 0l-1.7 14H247v-14zm49.1 0v14h32.8l-1.7-14zm49.2 0l1.7 14h30.7l-2.3-14zm48.5 0l2.3 14h30.6l-2.9-14zm-250 32l-3 14h31.9l2.4-14zm49.7 0l-2.4 14h32.1l1.7-14zm49.5 0l-1.7 14H247v-14zm53.1 0v14h36.8l-1.7-14zm53.2 0l1.7 14H352l-2.4-14zm49.8 0l2.4 14h31.9l-3-14zm-262 32l-2.9 14h33.2l2.3-14zm51 0l-2.3 14h33.4l1.7-14zm50.9 0l-1.7 14H247v-14zm57.1 0v14h40.8l-1.7-14zm57.2 0l1.7 14h33.4l-2.3-14zm51.2 0l2.3 14h33.2l-2.9-14zm-170.8 32l-14.4 46h136.3L313 377zM28 473v18h456v-18z'/%3E%3C/svg%3E");
  }
}

/* Move slides overflowed container */
.st-slider #slide1:checked ~ .images .images-inner {
  margin-left: 0;
}
.st-slider #slide2:checked ~ .images .images-inner {
  margin-left: -100%;
}
.st-slider #slide3:checked ~ .images .images-inner {
  margin-left: -200%;
}
.st-slider #slide4:checked ~ .images .images-inner {
  margin-left: -300%;
}

/* Color of bullets */
.st-slider #slide1:checked ~ div .fake-radio .radio-btn:nth-child(1),
.st-slider #slide2:checked ~ div .fake-radio .radio-btn:nth-child(2),
.st-slider #slide3:checked ~ div .fake-radio .radio-btn:nth-child(3),
.st-slider #slide4:checked ~ div .fake-radio .radio-btn:nth-child(4) {
  background: rgb(108, 255, 132);
}

.st-slider .radio-btn {
  background: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 0 2px;
  padding: 14px 10px;
  cursor: pointer;
}
/* Color of bullets - END */

/* Text of slides */
.st-slider #slide1:checked ~ .labels .label:nth-child(1),
.st-slider #slide2:checked ~ .labels .label:nth-child(2),
.st-slider #slide3:checked ~ .labels .label:nth-child(3),
.st-slider #slide4:checked ~ .labels .label:nth-child(4) {
  opacity: 1;
}

.st-slider .cs_anchor {
  z-index: -1;
  position: absolute;
}

/* Text of slides - END */

/* Calculate AUTOPLAY for BULLETS */
@keyframes bullet {
  0%,
  25% {
    background: rgb(108, 255, 132);
    color: black;
    font-weight: 500;
  }
  28%,
  40% {
    background: white;
    color: black;
    font-weight: 300;
  }
}

#play1:checked ~ div .fake-radio .radio-btn:nth-child(1) {
  animation: bullet 16400ms infinite -1000ms;
}

#play1:checked ~ div .fake-radio .radio-btn:nth-child(2) {
  animation: bullet 16400ms infinite 3100ms;
}

#play1:checked ~ div .fake-radio .radio-btn:nth-child(3) {
  animation: bullet 16400ms infinite 7200ms;
}
#play1:checked ~ div .fake-radio .radio-btn:nth-child(4) {
  animation: bullet 16400ms infinite 11300ms;
}
/* Calculate AUTOPLAY for BULLETS - END */

/* Calculate AUTOPLAY for SLIDES */
@keyframes slide {
  0%,
  20% {
    margin-left: 0;
  }
  25%,
  45% {
    margin-left: -100%;
  }
  50%,
  70% {
    margin-left: -200%;
  }
  75%,
  95% {
    margin-left: -300%;
  }
}

.st-slider > #play1:checked ~ .images .images-inner {
  animation: slide 16400ms infinite;
}
/* Calculate AUTOPLAY for SLIDES - END */

/* Calculate AUTOPLAY for CAPTION */
@keyframes caption {
  0%,
  25% {
    opacity: 1;
  }
  25%,
  100% {
    opacity: 0;
  }
}

#play1:checked ~ .labels .label:nth-child(1) {
  animation: caption 16400ms infinite -1000ms;
}

#play1:checked ~ .labels .label:nth-child(2) {
  animation: caption 16400ms infinite 3100ms;
}

#play1:checked ~ .labels .label:nth-child(3) {
  animation: caption 16400ms infinite 7200ms;
}
#play1:checked ~ .labels .label:nth-child(4) {
  animation: caption 16400ms infinite 11300ms;
}
/* Calculate AUTOPLAY for CAPTION - END */
